<div class="body-container">
  <h1>Your Cart</h1>

  <div *ngIf="upcomingPlannerOrders.length > 0 || upcomingVendorOrders.length > 0">
    <!-- Upcoming Planner Orders -->
    <div *ngIf="upcomingPlannerOrders.length > 0">
      <div *ngFor="let order of upcomingPlannerOrders">
        <mat-card class="result-card-content" >
          <div class="img-c">
          <img class="planner-img" mat-card-image [src]="order.plannerImage" alt="{{ order.plannerName }} Image">
          </div>
          <div class="result-det">
            <h3>{{ order.plannerName }}</h3>
            <!-- Display planner details -->
            <div>
              <p><strong>Event Type:</strong> {{ order.orderDetails.eventType }}</p>
              <p><strong>Event Date:</strong> {{order.orderDetails.eventDate | dateFormatter}}</p> 
              <p><strong>Fare:</strong> {{ order.fare }}</p>
              <p><strong>Tier:</strong> {{ order.tier }}</p>
            </div>
          </div>
          <div class="btn-div">
            <button mat-icon-button matTooltip="Place Order" (click)="placePlannerOrder(order.orderId)" class="redirect-btn"><mat-icon>check_circle</mat-icon></button>
            <button mat-icon-button matTooltip="Cancel" (click)="cancelOrder(order.orderId)" class="cancel-btn"><mat-icon>remove_circle_outline</mat-icon></button>
          </div>
        </mat-card>
      </div>
    </div>
    <!-- Upcoming Vendor Orders -->
    <div *ngIf="upcomingVendorOrders.length > 0">
      <div *ngFor="let order of upcomingVendorOrders">
        <mat-card class="result-card-content">
          <div class="img-c">
            <img class="vendor-img" mat-card-image [src]="order.orderDetails.vendorImage" alt="{{ order.orderDetails.vendorName }} Image" >
          </div>
          <div class="result-det">
            <h3>{{ order.orderDetails.vendorName }}</h3>
            
            <!-- Display vendor details -->
            <div>
              <p><strong>Service Date:</strong> {{ order.orderDetails.servingDetails.serviceDate | dateFormatter }}</p>
              <p><strong>Service Time:</strong> {{ order.orderDetails.servingDetails.serviceTime }}</p>
              <p><strong>Location:</strong> {{ order.orderDetails.servingDetails.serviceLocationType }}</p>
              <p><strong>Fare:</strong> ₹{{ order.orderDetails.vendorFare }}</p>
            </div>
          </div>
          <div class="btn-div">
            <button mat-icon-button matTooltip="Place Order" (click)="placeVendorOrder(order.orderId)" class="redirect-btn"><mat-icon>check_circle</mat-icon></button>
            <button mat-icon-button matTooltip="Cancel" (click)="cancelOrder(order.orderId)" class="cancel-btn"><mat-icon>remove_circle_outline</mat-icon></button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- No Items -->
  <div *ngIf="upcomingVendorOrders.length === 0 && upcomingPlannerOrders.length === 0">
    <p>No Items</p>
  </div>
</div>
