mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo img {
    height: 80px;
    margin-top: 8px;
  }
  
.home-btn{ 
  margin-left: -8px;
  margin-top: 2px;
}

  .spacer {
    flex: 1;
  }
  
  .navbar-icons button {
    margin-right: 10px;
    color: #d6a553;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .icon-bar {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    
  }
  
  .navbar-icons-responsive {
    display: none;
    @media (max-width:768px) {
      display: flex;
      justify-content: space-around;
      width: 100%; 
    }
  }
  
  .navbar-icons-responsive button {
    margin-right: 10px;
    color: #d6a553;
  }
  
  
  .profile-pic {
    border: 2px solid #d6a553;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: -10px;
  }

  .profile-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
}
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #d6a553;
  }
  
  .profile-actions {
    display: flex;
    gap: 10px;
  }
  
  .profile-details {
    margin-top: 20px;
    text-align: left;
  }
  
  .profile-details h2 {
    margin: 0;
    color: #d6a553;
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  
  .profile-info p {
    display: flex;
    align-items: center;
  }
  
  .profile-info p strong {
    margin-right: 5px;
    color: #d6a553;
  }
  
  .profile-info input, .profile-info textarea {
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid #d6a553;
    background: none;
    color: #333;
  }
  
  .file-input {
    margin-top: 20px;
  }
  