.admin-profile-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 25px;
    background-color:  #fffaf0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
  
    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 28px;
        color: #694f28;
    }
  
    .form-group {
        margin-bottom: 20px;
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
            color: #333;
        }
        input, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
            transition: border-color 0.3s;
  
            &:focus {
                border-color: #dd8e06;
                outline: none;
            }
        }
    }
  
    button {
        width: 100%;
        padding: 12px;
        background: linear-gradient(45deg, #cea660, rgb(95, 66, 13));
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
            background: linear-gradient(45deg, #a88640, rgb(80, 55, 10));
        }
  
        &:disabled {
            background-color: #ccc;
        }
    }
  
    .profile-pic {
        max-width: 120px;
        margin-top: 15px;
        display: block;
        border-radius: 50%;
        border: 2px solid #cea660;
    }
}

