<div class="payment-success-container">
    <mat-card class="success-card">
      <mat-card-header>
        <h1>Payment Successful!</h1>
      </mat-card-header>
      <mat-card-content>
        <p>Thank you! Your payment has been processed successfully.</p>
        <p>Your order is now confirmed.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button routerLink="/user">Return to Home</button>
        <!-- <button mat-stroked-button (click)="goToDisplayOrders()">Go to Order</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
  