<mat-toolbar style="color: white; background-color: black;">
  <div class="logo">
    <img src="../../../assets/riwayat-text-logo.png" alt="Riwayat" />
  </div>
  <div class="spacer"></div>
  <div class="navbar-icons">
    <button mat-icon-button (click)="openNotificationsDialog()">
      <mat-icon matBadge="{{notificationBadge}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="openAddEventDialog()">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="openSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <button mat-icon-button (click)="goToAdminProfile()">
    <img src="../../../assets/user.png" alt="" class="profile-pic" />
  </button>
</mat-toolbar>

<div class="icon-bar">
  <div class="navbar-icons-responsive">
    <button mat-icon-button (click)="openNotificationsDialog()">
      <mat-icon matBadge="{{notificationBadge}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="openAddEventDialog()">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="openSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>