<!-- user-dashboard.component.html -->
<mat-toolbar style="color: white; background-color: black;">
    <div class="logo">
      <img src="../../../assets/riwayat-text-logo.png" alt="Riwayat" />
    </div>
    <div class="spacer"></div>
    <div class="navbar-icons">
      <button mat-icon-button (click)="openNotificationDialog()">
        <mat-icon matBadge="{{notificationBadge}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="openCartDialog()">
        <mat-icon matBadge="{{cartBadge}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="openOrdersDialog()">
        <mat-icon >receipt</mat-icon>
      </button>
      <button mat-icon-button (click)="openFavoriteDialog()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <button mat-icon-button (click)="goToUserProfile()">
      <img src="../../../assets/user.png" alt="" class="profile-pic" />
    </button>
</mat-toolbar>

  <div class="icon-bar">
    <div class="navbar-icons-responsive">
      <button mat-icon-button (click)="openNotificationDialog()">
        <mat-icon matBadge="{{notificationBadge}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="openCartDialog()">
        <mat-icon matBadge="{{cartBadge}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="openOrdersDialog()">
        <mat-icon >receipt</mat-icon>
      </button>
      <button mat-icon-button (click)="openFavoriteDialog()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
  
  <!-- Categories Section -->
  <div class="section">
    <h2>Browse Categories</h2>
    <mat-grid-list cols="4" rowHeight="250px" gutterSize="16px">
      <mat-grid-tile *ngFor="let category of categories">
        <mat-card class="category-card">
          <mat-card-header>
            <mat-card-title>{{ category.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="service" *ngFor="let service of category.trendingServices">
              {{ service }}
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="section-responsive">
    <h2>Browse Categories</h2>
    <mat-grid-list cols="1" rowHeight="250px" gutterSize="8px">
      <mat-grid-tile *ngFor="let category of categories">
        <mat-card class="category-card">
          <mat-card-header>
            <mat-card-title>{{ category.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="service" *ngFor="let service of category.trendingServices">
              {{ service }}
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- Offers Section -->
  <div class="section">
    <h2>Current Offers & Deals</h2>
    <mat-grid-list cols="3" rowHeight="250px" gutterSize="16px">
      <mat-grid-tile *ngFor="let offer of offers">
        <mat-card class="offer-card">
          <mat-card-content>
            {{ offer }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="section-responsive">
    <h2>Current Offers & Deals</h2>
    <mat-grid-list cols="1" rowHeight="250px" gutterSize="8px">
      <mat-grid-tile *ngFor="let offer of offers">
        <mat-card class="offer-card">
          <mat-card-content>
            {{ offer }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <!-- Previous Orders Section -->
  <div class="section">
    <h2>Your Previous Orders</h2>
    <mat-grid-list cols="3" rowHeight="250px" gutterSize="16px">
      <mat-grid-tile *ngFor="let order of previousOrders">
        <mat-card class="order-card">
          <mat-card-content>
            {{ order }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="section-responsive">
    <h2>Your Previous Orders</h2>
    <mat-grid-list cols="1" rowHeight="250px" gutterSize="8px">
      <mat-grid-tile *ngFor="let order of previousOrders">
        <mat-card class="order-card">
          <mat-card-content>
            {{ order }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  