/* user-dashboard.component.scss */


.section {
    margin: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .section-responsive {
    display: none;
    @media (max-width: 768px) {
      display: block;
      margin: 20px;
    }
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  mat-grid-list {
    width: 100%;
  }
  
  .category-card, .offer-card, .planner-card {
    width: 450px;
    height: 200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  mat-card:hover {
    transform: scale(1.02);
  }
  
  .service {
    margin: 5px 0;
    color: white;
    display: none;

    :hover{
      display: block;
    }
  }

  .category-img {
    position: relative; 
    width: 100%;
    height: 100%; /* Equal height for all images */
    overflow: auto;
    margin-bottom: -20px;
  }

  .category-img img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensure the image fits within its container */
    border-radius: 5px; /* Consistent border radius for all */
    display: block;
  }
  
  .category-text {
    position: absolute;
    top: 50%; /* Move text towards the bottom */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .offer-img {
    position: relative; 
    width: 100%;
    height: 100%; /* Equal height for all images */
    overflow: auto;
    

    & img{
      width: 100%;
      height: 100%;
      object-fit:cover; /* Ensure the image fits within its container */
      border-radius: 5px; /* Consistent border radius for all */
      display: block;
    }
  }

  .planner-card{ 
    display: flex;
    flex-direction: row;
  }
  .planner-img {
    position: relative; 
    max-width: 50%;
    height: 100%; /* Equal height for all images */
    overflow: auto;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensure the image fits within its container */
      border-radius: 5px; /* Consistent border radius for all */
      display: block;
    }
  }