.parent {
    mat-icon{
        scale: 1.75;
    }

    button{
        color: black;
        transition: 0.3s;

        &:disabled {
            color: grey;
        }

        &:hover {
            color: #c6a05c;
            scale: 2;
            transition: 0.3s;
        }
    }
}