<div class="auth-container">
  <div class="auth-dialog">
    <div class="auth-left">
      <img src="../../assets/Riwayat.png" alt="Logo" class="logo" />
      <h2>{{ isLogin ? 'Login' : 'Sign Up' }}</h2>
      <button class="switch-btn" mat-button (click)="toggleAuth()">
        {{ isLogin ? 'Switch to Sign Up' : 'Switch to Login' }}
      </button>
      <button *ngIf="!dialogRef" class="showcase-btn" mat-button (click)="goToShowcase()">
        Go to Showcase Website
      </button>
    </div>
    <div class="auth-right">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <!-- Login Fields -->
        <mat-form-field *ngIf="isLogin" appearance="outline">
          <mat-label>Username or Phone Number</mat-label>
          <input matInput placeholder="Username or Phone Number" formControlName="username" required />
        </mat-form-field>

        <mat-form-field *ngIf="isLogin" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" required />
        </mat-form-field>
      </form>
      <form [formGroup]="newAuthForm" (ngSubmit)="onSubmit()">
        <!-- Sign Up Fields -->
        <mat-form-field *ngIf="!isLogin" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Enter your full name" formControlName="name" required />
        </mat-form-field>

        <mat-form-field *ngIf="!isLogin" appearance="outline">
          <mat-label>Enter Phone Number</mat-label>
          <input matInput placeholder="Enter your phone number" formControlName="phone" required />
        </mat-form-field>

        <mat-form-field *ngIf="!isLogin" appearance="outline">
          <mat-label>Create Password</mat-label>
          <input matInput type="password" placeholder="Create your password" formControlName="newPassword" required />
        </mat-form-field>

        <button class="submit-btn" mat-button type="submit">{{ isLogin ? 'Login' : 'Sign Up' }}</button>
      </form>
    </div>
  </div>
</div>
